[Desktop Entry]
Name=Misc Tools
Icon=nm-device-wireless
Exec=touchpad-off
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-applet
X-GNOME-UsesNotifications=true
X-Ubuntu-Gettext-Domain=nm-applet
